<?xml version="1.0" encoding="utf-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

           <!-- Admin, PrivateApiAccessor, PublicApiAccessor, Merchant -->
    <http pattern="/api/**" create-session="stateless">
        <intercept-url pattern="/api/callback/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        <intercept-url pattern="/api/**" access="ROLE_PUBLICAPIACCESSOR,ROLE_PRIVATEAPIACCESSOR, ROLE_MERCHANT" />
        <http-basic />
    </http>
    
    <http>
        <intercept-url pattern="/dashboard/**" access="ROLE_MERCHANT" />
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
        
        <form-login login-page="/login" />
        <logout logout-url="/logout" invalidate-session="true"/>
    </http>

    
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsManager" />
    </authentication-manager>

    <beans:bean id="userDetailsManager" class="dk.apaq.simplepay.security.SystemUserDetailsManager" />

</beans:beans>
