<?xml version="1.0" encoding="utf-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:util="http://www.springframework.org/schema/util"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
           http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

           <!-- Admin, PrivateApiAccessor, PublicApiAccessor, Merchant -->
           
    <http entry-point-ref="restErrorHandler" disable-url-rewriting="true" request-matcher-ref="jsonMatcher" create-session="stateless" >
        <intercept-url method="POST" pattern="/data/tokens" access="ROLE_PUBLICAPIACCESSOR,ROLE_PRIVATEAPIACCESSOR,ROLE_MERCHANT" />
        <intercept-url method="GET" pattern="/data/**" access="ROLE_PRIVATEAPIACCESSOR,ROLE_MERCHANT" />
        <intercept-url method="POST" pattern="/data/**" access="ROLE_PRIVATEAPIACCESSOR,ROLE_MERCHANT" />
        <intercept-url method="DELETE" pattern="/data/**" access="ROLE_PRIVATEAPIACCESSOR,ROLE_MERCHANT" />
        <http-basic />
        <access-denied-handler ref="restErrorHandler" />
    </http>
    
    <http disable-url-rewriting="true"> <!--use-expressions="true">-->
        <intercept-url method="GET" pattern="/data/**" access="ROLE_MERCHANT" />
        <intercept-url method="POST" pattern="/data/**" access="ROLE_MERCHANT" />
        <intercept-url method="DELETE" pattern="/data/**" access="ROLE_MERCHANT" />
        <form-login login-page="/login.html" />
    </http>
    
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="userDetailsManager" />
    </authentication-manager>

    <beans:bean id="userDetailsManager" class="dk.apaq.simplepay.security.SystemUserDetailsManager" />

    <beans:bean id="jsonMatcher" class="org.springframework.security.web.util.ELRequestMatcher">
        <beans:constructor-arg value="hasHeader('Accept','application/json')"/>
    </beans:bean>  
    
    <beans:bean id="restErrorHandler" class="dk.apaq.simplepay.controllers.api.RestErrorHandler"></beans:bean>

</beans:beans>
