<!DOCTYPE html>
<html>
    <head>
        <title>SimplePay - Betaling er simpelt!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

        <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.css" media="all" />
        <link type="text/css" rel="stylesheet" href="assets/css/styles.css" media="all" />
        <!--link type="text/css" rel="stylesheet" href="assets/css/bootstrap-responsive.css" media="all" /-->
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="assets/js/application.js"></script>
    </head>
    <body>
        <div class="container simplepay">
            <div class="hidden-phone" style="height:80px"></div>
            <div class="row">
                <div class="brand span10 offset1">
                    simple<span class="blue">pay</span>
                </div>
            </div>
            
            <div class="row">
                <div class="span10 offset1 box">
                    <div class="row">
                        <div class="span4 logo-cloud">&nbsp;</div>
                
                        <div class="span6 title">
                            <h1>Betaling skal være simpelt!</h1>
                            <br/>
                            Vi udvikler <strong>et simpelt betalingssystem</strong> som skal hjælpe udviklere, som os selv, til let at kunne tage imod <abbr title="F.eks. Dankort, VISA-kort, Mastercard m.m.">betalingskort</abbr> i de kreative løsninger vi laver.<br/><br/>
                            <strong>SimplePay</strong> starter op i <abbr title="Vi planl&aelig;gger at d&aelig;kke Danmark, F&aelig;r&oslash;erne, Gr&oslash;nland, Island, Norge, Sverige">Skandinavien</abbr>. Indtast din mailadresse for at få besked når det sker.<br/><br/>
                            
                            <div class="input-append"><input type="text" id="email-address" name="email" placeholder="john@example.net"/><button class="btn" type="button" id="email-address-button">Giv besked!</button></div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="row">
                <div class="span11 offset1">
                    <span class="footnote padding-left"><a href="mailto:contact@simplepay.dk">Kontakt os</a>&nbsp;|&nbsp;</span>
                    <g:plusone size="small" annotation="none"></g:plusone>

                    <span class="footnote padding-right pull-right">© SimplePay</span>
                </div>
            </div>
        </div>
       
        <!-- Googleplus -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </body>
</html>
