!!! 5
html
  head
    title SimplePay - Betaling er simpelt!
    meta(http-equiv="content-type",charset='utf-8',content='text/html')
        
    link(href="https://fonts.googleapis.com/css?family=Open+Sans",rel="stylesheet", type="text/css")
    link(type="text/css", rel="stylesheet", href="assets/css/bootstrap.css", media="all")
    link(type="text/css", rel="stylesheet", href="assets/css/styles.css", media="all")

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type="text/javascript", src="assets/js/application.js")
  body
    .container.simplepay(style="padding-top:800x")
      .row
        .brand.span10.offset1 simple
          span.blue pay
            
      .row
        .span10.offset1.box
          .row
            .span4.logo-cloud &nbsp
            .span6.title
              h1 #{title}
              br
              | Vi udvikler <strong>et simpelt betalingssystem</strong> som skal hjælpe udviklere, som os selv, til let at kunne tage imod <abbr title="F.eks. Dankort, VISA-kort, Mastercard m.m.">betalingskort</abbr> i de kreative løsninger vi laver.
              br
              br
              | <strong>SimplePay</strong> starter op i <abbr title="Vi planl&aelig;gger at d&aelig;kke Danmark, F&aelig;r&oslash;erne, Gr&oslash;nland, Island, Norge, Sverige">Skandinavien</abbr>. Indtast din mailadresse for at få besked når det sker.
              br
              br
              .input-append
                input(type="text", id="email-address", name="email", placeholder="john@example.net")
                button.btn(type="button", id="email-address-button") Giv besked!
                            

      .row 
        .span11.offset1
          span.footnote.padding-left
            a(href="mailto:contact@simplepay.dk") Kontakt os
            | &nbsp;|&nbsp;
          g:plusone(size="small", annotation="none")

          span.footnote.padding-right.pull-right © SimplePay

       
        script(type="text/javascript")
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
